@{
    ViewBag.Title = "SwiftDev";
}
<div class="container">

    <ul class="ca-menu">

        <!-- Start of Index-->
        <li>
            <a href="@Url.Action("Index","RequirementsEngineering")">
                <span class="ca-icon"><i class="fa fa-home fa-3x"></i></span>
                <div class="ca-content">
                    <h2 class="ca-main"> Requirements</h2>
                    <h3 class="ca-sub"> All Documents related to project [Inception]</h3>
                </div> <!-- End of ca-content-->
            </a>
        </li> <!-- End of Index-->
        <!-- Start of High Level Design-->
        <li>
            <a href="@Url.Action("Index","SystemDesign")">
                <span class="ca-icon"><i class="fa fa-file fa-3x"></i></span>
                <div class="ca-content">
                    <h2 class="ca-main"> System Designs</h2>
                    <h3 class="ca-sub"> All UML Designs regarding project </h3>
                </div> <!-- End of ca-content-->
            </a>
        </li> <!-- End of High Level Design -->
        <!-- Start of Version Control -->
        <li>
            <a href="versionControl.php">
                <span class="ca-icon"><i class="fa fa-cogs fa-3x"></i></span>
                <div class="ca-content">
                    <h2 class="ca-main"> Version Control</h2>
                    <h3 class="ca-sub"> Every version of the software uplaoded found here</h3>
                </div> <!-- End of ca-content-->
            </a>
        </li> <!-- End of Version Control -->
        <!-- Start of Testing -->
        <li>
            <a href="#">
                <span class="ca-icon"><i class="fa fa-wrench fa-3x"></i></span>
                <div class="ca-content">
                    <h2 class="ca-main"> Software Testing</h2>
                    <h3 class="ca-sub"> Tools for Testing</h3>
                </div> <!-- End of ca-content-->
            </a>
        </li> <!-- End of Testing -->
        <!-- Start of Progress Report-->
        <li>
            <a href="#">
                <span class="ca-icon"><i class="fa fa-list fa-3x"></i></span>
                <div class="ca-content">
                    <h2 class="ca-main"> Progress Report</h2>
                    <h3 class="ca-sub"> Progression Charts</h3>
                    <h3 class="ca-sub"> Important to UPDATE REGULARY</h3>
                </div> <!-- End of ca-content-->
            </a>
        </li> <!-- End of Progression Report -->
        <!-- Start of Progress Report-->
        <li>
            <a href="#">
                <span class="ca-icon"><i class="fa fa-warning fa-3x"></i></span>
                <div class="ca-content">
                    <h2 class="ca-main"> Troubleshooting</h2>
                    <h3 class="ca-sub"> FAQ about SwiftDev. Report any problems about SwiftDev here</h3>
                </div> <!-- End of ca-content-->
            </a>
        </li> <!-- End of Progression Report -->


    </ul> <!-- End of ca-menu -->
</div> <!--End of Container-->
