<!-- Table for The Templates-->

<div class="panel-group" id="accordion">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#templates">Templates</a>
            </h4>
        </div>
        <div id="templates" class="panel-collapse collapse">
            <div class="panel-body">

                <table class="table table-hover" id="template-table">
                    <thead>
                        <tr>
                            <th>Template</th>
                            <th id="download">Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model.Files)
                            {
                                <tr>
                                    <td>@Path.GetFileNameWithoutExtension(item.Name)</td>
                                    <td id="download"><a href="@item.URL"><i class="fa fa-download fa-2x"></i></a></td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
