body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#loginBody
{
    margin: 0 auto;
    padding: 0;
    background-image: url('../Content/images/loginBG.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#login-container
{
    max-width: 25%;
    min-height:250px;
    
    margin: 0 auto;
    padding-top:1%;
    margin-top:5%;
    
    background-color: rgba(207, 205, 231, 0.2);     
    border-radius: 15px; 
    -moz-border-radius: 15px; 
    -webkit-border-radius: 15px; 
}

.logoIMG
{
    background-image: url('../Content/images/logo.png');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center;
    margin-top:1%;
    height: 200px;
    position: relative;
}

#header
{
    color: #FFF;
    border:0;
    
}

#navbar-links
{
    padding-top:2%;
    border-radius :0;
    border:0;
}

.logo
{
    
    
}

#calendar
{   
    margin-top:1%;
    float:left;
}

#template-table
{
    font-size:1.1em;
    width:80%;
    margin: 0 auto;
    
}

#download
{
    text-align:center;
    
}





#showDate
{
    font-weight:bold;
    margin-left:5%;
    margin-top:1.2%;
}

#index-list
{
    height:275px;
    float:left;
}

.ca-menu
{
    padding:  0;
    margin: 20px auto;
    width: 960px;
    color: #fff;
}

.ca-menu li
{
    width: 155px;
    height: 275px;
    overflow: hidden;
    position: relative;
    float: left;
    background: #dadada;
    box-shadow: 1px 1px 2px rgba (0,0,0,0.2);
    transition: all 300ms linear;
    margin-right: 5px;
 }

.ca-menu li:last-child
{
    margin-right: 0px;
}

.ca-icon
{
    text-shadow: 1px 0px 1px rgba (255,255,255,0.7);
    line-height: 150px;
    position: absolute;
    font-size: 2em;
    width: 100%;
    height: 50%;
    left: 0px;
    top: 20px;
    text-align: center;
    transition: all 200ms linear;
}


.ca-content
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 50%;
    top: 50%;
}

.ca-main{
    font-size: 1.4em;
    color: #005382;
    opacity: 0.8;
    text-align: center;
    transition: all 200ms linear;
}
.ca-sub{
    text-align:center;
    font-size: 0.9em;
    color: #2d2d2d;
    line-height: 1;
    opacity: 0.8;
    transition: all 200ms linear;
}


.ca-menu li:hover
{
   background-color: #000;
    z-index:999;   
    transform: scale(1.1); 
}

.ca-menu li:hover .ca-icon 
{
    color: #fff;
    font-size: 3em;
    
}


.ca-menu li:hover .ca-main
{
    color: #00ccff;
    -webkit-animation: moveFromLeft 500ms ease;
    -moz-animation: moveFromLeft 500ms ease;
    -ms-animation: moveFromLeft 500ms ease;
    
    
    
}

.ca-menu li:hover .ca-sub
{
    line-height: 1;
    color: #fff;
    -webkit-animation: moveFromBottom 500ms ease;
    -moz-animation: moveFromBottom 500ms ease;
    -ms-animation: moveFromBottom 500ms ease;
}

@-webkit-keyframes moveFromLeft
{
    from 
    {
        -webkit-transform: translateX(-100%);
    }
    to 
    {
        -webkit-transform: translateX(0%);
    }
}
@-moz-keyframes moveFromLeft
{
    from 
    {
        -moz-transform: translateX(-100%);
    }
    to 
    {
        -moz-transform: translateX(0%);
    }
}
@-ms-keyframes moveFromLeft
{
    from 
    {
        -ms-transform: translateX(-100%);
    }
    to 
    {
        -ms-transform: translateX(0%);
    }
}

@-webkit-keyframes moveFromRight 
{
    from 
    {
        -webkit-transform: translateX(100%);
    }
    to 
    {
        -webkit-transform: translateX(0%);
    }
}
@-moz-keyframes moveFromRight
{
    from 
    {
        -moz-transform: translateX(100%);
    }
    to 
    {
        -moz-transform: translateX(0%);
    }
}
@-ms-keyframes moveFromRight
{
    from 
    {
        -ms-transform: translateX(100%);
    }
    to 
    {
        -ms-transform: translateX(0%);
    }
}

@-webkit-keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromBottom {
    from {
        -moz-transform: translateY(100%);
    }
    to {
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromBottom 
{
    from {
        -ms-transform: translateY(100%);
    }
    to {
        -ms-transform: translateY(0%);
    }
}

@media (max-width: 600px) 
{

    #login-container
    {
        margin: 0 auto;
        padding:0;
    }
    

    .logoIMG
    {
        background-size:55%;
    }
}


