@using SwiftDev.Models
@model LoginViewModel


@{
    Layout = null;
    ViewBag.Title = "Login to SwiftDev";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/less")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
 
    <body>
       

       
    </body>
</html>
